/* Page Styles */

body {
    background-color: white;
    margin: 50px;

}


#sidebar {
    float: right;
    margin: 20px;
    padding: 10px;
    width: 25%;
    background-color: #a6c9ff;
}
.bio-photo {
    width: 25%;
    float: left;
    background:#00004d;
    color:  #a6c9ff;
    margin: 10px;
    padding: 5px;
}
.bio-photo img {
    width: 100%;
    height: auto;
}


header {
    background-color: cornflowerblue;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin: 10px;

}
.top-nav li, .bottom-nav li {
    display: inline;
    padding: 20px;
    text-align: center;
}


.poem  {

    background-color: cornflowerblue;
    list-style-type: none;
    font-size: 22px;
    width: 40%;
    margin: 20px;
    padding: 10px;
}
/* Table styles*/

table, th, td {
    border: 1px solid #a6c9ff;
    margin: auto;
}
table {
    width: 75%;
}

th {
    height: 50px;
}